.advantages {}

.advantages__h2 {}



.advantages__item {}


.advantages__item-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
}

.advantages__h3-photo {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  text-align: center;
}

.advantages__number-photo {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  text-align: center;
}

.advantages__text-lid-photo {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  text-align: center;
}

.advantages__simple {
  background: #EEEEEE;
}

.advantages__item-simple {
  // padding: 0 20px;
}

.advantages__h3 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
  text-align: center;
}

.advantages__number {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
  text-align: center;
}

.advantages__text-lid {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
  text-align: center;
}

.advantages__box-photo {
  background: #81B3D2;
  mix-blend-mode: normal;
  // display: none;
}

.advantages__wrapper-item-photo-town {
  // padding: 0 20px;
}

.advantages__box-photo-town::after {
  content: "";
  display: block;
  width: 100%;
  min-height: 260px;
  background-repeat: no-repeat;
  // background-position: center bottom;
  background-image: url(../img/index/photo-city@1x1-mobile.jpg);
  background-size: cover;
  background-color: #AAB7A5;
}

.advantages__wrapper-item-photo-bridge {
  // padding: 0 20px;
}

.advantages__box-photo-bridge::after {
  content: "";
  display: block;
  width: 100%;
  min-height: 260px;
  background-repeat: no-repeat;
  // background-position: center bottom;
  background-image: url(../img/index/photo-bridge@1x1-mobile.jpg);
  background-size: cover;
  background-color: #854B37;
}

@media (max-width: $mobile-width-only) {
  .advantages__item-simple::before {
    // border-top: 1px solid #D6D6D6;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #D6D6D6;

  }

}

@media (min-width: $tablet-width) {
  .advantages__box-photo-town {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .advantages__box-photo-town::after {
    min-height: 256px;
    background-size: cover;
  }

  .advantages__box-photo-bridge {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .advantages__box-photo-bridge::after {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    min-height: 256px;
    background-size: cover;
  }

  .advantages__wrapper-item-photo-bridge {
    grid-column: 2 / -1;
  }

  .advantages__simple {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.6%;
    min-height: 256px;
  }

  .advantages__box-photo-town::after {
    min-height: 256px;
    background-image: url(../img/index/photo-city@1x1-tablet.jpg);
  }

  .advantages__box-photo-bridge::after {
    min-height: 256px;
    background-image: url(../img/index/photo-bridge@1x-tablet.jpg);
  }
}

@media(min-width:$desktop-width) {
  .advantages__box-photo-town::after {
    min-height: 256px;
    background-image: url(../img/index/photo-city@1x-desktop.jpg);
  }

  .advantages__box-photo-bridge::after {
    min-height: 256px;
    background-image: url(../img/index/photo-bridge@1x-desktop.jpg);
  }
}
