.contacts {
  margin-left: 42px;
}

.form-subtitle {}

.contacts__subtitle {
  // text-align: center;
}

.form-label {}

.contacts__label {
  display: flex;
  flex-wrap: wrap;
}

.form-input {}

.contacts__input {
  flex-grow: 1;
}

.contacts__icon {
  width: 58px;
  min-height: 58px;
  background-color: #E6E6E6;
  display: flex;
  justify-content: center;
  align-items: center;
}



.contacts__icon-phone::after {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../img/form/phone.svg);
  background-repeat: no-repeat;
}

.contacts__icon-email::after {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../img/form/mail.svg);
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .contacts {
    grid-column: 1/-1;
  }

}
