.header {
  position: relative;
}

.header__nav-wrapper {
  min-height: 56px;
  background-color: $white;
  // display: flex;
  // align-items: center;
  // justify-content: right;
  // margin: 0 20px;
  position: relative;
}



.header__logo-link {
  position: absolute;
  left: 50%;
  // top: 50%;
  transform: translate(-50%);
}

.header__logo-img {}



.header__nav-link {
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px;


  // vertical-align: middle;

  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.header__nav-link--active {}



.header__main-banner {
  background-image: url(../img/header/header-back-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 389px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.header__main-banner--catalog {
  min-height: 0px;
  height: 158px;
}

// .header__main-banner-form {
//   background-image: url(../img/header/header-back-mobile.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   min-height: 389px;
// }


.header__title-img {
  margin: 0 20px;
  width: 100%;
}

@media (max-width: $mobile-width-only) {

  .header__nav-toggle {
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 0;
    top: 10px;
    background-color: transparent;
  }

  .header__nav--closed .header__nav {
    display: none;
  }

  .header__nav--closed .header__nav-toggle::before {
    content: "";
    width: 23px;
    height: 4px;
    background-color: #81b3d2;
    box-shadow: 0 -9px 0 0 #81b3d2, 0 9px 0 0 #81b3d2;
  }

  .header__nav--opened .header__nav {
    display: block;
    margin-bottom: 56px;
  }

  .header__nav--opened .header__nav-toggle::before {
    content: "";
    width: 28px;
    height: 4px;
    background-color: #ffffff;
    transform: rotate(-45deg);
    position: absolute;
  }

  .header__nav--opened .header__nav-toggle::after {
    content: "";
    width: 28px;
    height: 4px;
    background-color: #ffffff;
    transform: rotate(45deg);
    position: absolute;
  }

  .header__nav--opened .header__logo-link {
    bottom: 0;
    transform: translate(-50%, 100%);
  }

  .header__nav--opened .header__nav-link {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8;
    min-height: 55px;
    background: #81B3D2;
  }

}

@media (min-width: $tablet-width) {
  .header__nav-toggle {
    display: none;
  }

  .header__nav-wrapper {
    display: flex;
    margin: 0;
    // align-items: center;
    // justify-content: space-between;
    // margin: 0 20px;
  }

  .header__nav {
    display: grid;
    width: 100%;
    // height: 56px;
    // justify-content: space-between;
    grid-template-columns: 13.8% 22.8% 45% 1fr;
    align-items: center;
    justify-items: right;

  }


  .header__left-link {
    display: flex;
    justify-content: center;
    gap: 74px;
    flex-wrap: wrap;

  }

  .header__right-link {
    display: flex;
    justify-content: center;
    gap: 51px;
    flex-wrap: wrap;
  }

  .header__nav-link {
    background-color: $white;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
  }

  .header__main-banner {
    background-image: url(../img/header/back-desktop.jpg);
    background-size: cover;
    min-height: 518px;
  }

  .subadvantages__text {
    text-align: center;
  }
}
