.header {
  box-sizing: border-box;
  margin: 0;
  background-image: url(../img/header/header-back-mobile.jpg);
  min-height: 389px;
  background-color: aqua;

  // height: 389px;
  // background-size: 1200px 57px, cover;
  // padding-top: 90px;
  // text-align: center;
  // position: relative;
  // height: 158px;
  // background-image: url(../img/intro-triangle.svg), url(../img/back/back-mobile.jpg);

  // background-repeat: no-repeat;
  // background-position-x: 50%;
  // background-position-y: 100%;
  // background-size: 1200px 57px, cover;
  // padding-top: 52px;
  // text-align: center;
}

.header__nav {}

.header__logo-link {}

.header__logo-img {}

.header__nav-toggle {}

.header__nav-wrapper {}

.header__nav-link {}

.header__nav-link--active {}

.header__title-img {}
