.impression {}

.impression__subtitle {}

.impression__input {}

.impression__label {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  mix-blend-mode: normal;
  background-color: #f2f2f2;
}
