.impression {}

.impression__subtitle {
  text-align: center;
}

.impression__wrapper-radio {
  position: relative;
  margin: 0 20px;
  min-height: 56px;
  display: flex;
  align-items: center;
  // padding-left: 56px;
}


.impression__input {
 
}

.impression__label {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  mix-blend-mode: normal;
  background-color: #f2f2f2;
  margin-left: 64px;
  cursor: pointer;
}

.impression__input:checked+.impression__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 18px;
  // left: 21px;
  width: 22px;
  height: 22px;
  background-color: #333333;
  border-radius: 50%;
}


.impression__input:hover+.impression__label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0%;
  width: 56px;
  height: 56px;
  background-color: $grey-300;
  border-radius: 50%;
}

.impression__input:focus+.impression__label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0%;
  width: 56px;
  height: 56px;
  background-color: $grey-300;
  border-radius: 50%;
}

.impression__input:active+.impression__label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0%;
  width: 56px;
  height: 56px;
  background-color: $grey-400;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {

  .impression {
    order: -1;
  }


}
