.modal-sussecs {
  display: none;
}

.modal {}

.modal-sussecs__h3 {}

.modal-h3 {}

.modal-sussecs__description {}

.modal-description {}

.modal-sussecs__button {
  font-size: 18px;
  min-width: 280px;
  min-height: 58px;
}

.button-button {}
