.search {
  margin-bottom: 49px;
  padding: 0 20px;
}

.search__h2 {}

.search__subtitle {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
  text-align: center;
}

.search__text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
  text-align: center;
}

.search__button {
  width: 100%;
  min-height: 58px;
  // margin: 0px auto;
}

// .search__text-button {
//   vertical-align: middle;
// }
@media (min-width: $tablet-width) {
  .search__button {
    width: 59.63%;
  }

  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
