.button-link {
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px;
  background: #81B3D2;
  mix-blend-mode: normal;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  // vertical-align: middle;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
