.form-input {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  mix-blend-mode: normal;
  background-color: #f2f2f2;
  border: none;
  padding: 18px 22px 14px 22px;
}

.form-input::placeholder {
  color: black;
}
